/MatrixNumeric/obj
/MatrixNumeric/bin
/.vs/MathematicalPlayground
/TestByLevenbergMarquardt/obj
/TestByLevenbergMarquardt/bin
/TestByNewtonRaphson/obj
/TestByNewtonRaphson/bin
/TestLinearRegression/obj
/TestLinearRegression/bin
/TestRungeKutta/obj
/TestRungeKutta/bin
/TestPendulum/obj
/TestPendulum/bin
